$colors: (
  "red": #F44336,
  "pink": #E91E63,
  "purple": #9C27B0,
  "deeppurple": #673AB7,
  "indigo": #3F51B5,
  "blue": #2196F3,
  "lightblue": #03A9F4,
  "cyan": #00BCD4,
  "teal": #009688,
  "green": #4CAF50,
  "lightgreen": #BBC34A,
  "lime": #CDDC39,
  "yellow": #FFEB3B,
  "amber": #FFC107,
  "orange": #FF9800,
  "deeporange": #FF5722,
  "brown": #795548,
  "grey": #9E9E9E,
  "bluegrey": #607D8B,
  "black": #000000);

.press {
  min-width:80px;
  display:inline-block;
  text-align:center;
  outline:none;
  background-color:transparent;
  border:none;
  font-size:1em;
  padding:.5em;
  margin:0;
  text-decoration:none;
  cursor:pointer;
  color:#FFF;
  box-sizing:border-box;
  transition: background 0.15s linear;
  &:disabled {
    cursor: not-allowed;
    opacity:.3;
  }
}

.press { //Each color gets a .press-{id} class.
   @each $color, $hex in $colors {
    &-#{$color} {
      background-color: $hex;
      border:2px solid $hex;
        &:hover:not(:disabled) {
          background-color:rgba($hex,.6); 
        }
        &:active:not(:disabled) {
          background-color:rgba($hex,.8); 
        }
        &:disabled {
          background-color: $hex;
        }
    }
  }
}

.press { //Modifications to the default buttons.
  &-raised {
    box-shadow: 2px 3px 19px -3px rgba(0,0,0,0.4);
  }
  &-sm {
    font-size:.8em;
    min-width:0px;
  }
  &-lg {
    font-size:1.25em;
  }
  &-xl {
    font-size:1.5em;
  }
  &-pill {
    border-radius: 20px / 50%; 
  }
  &-round {
    border-radius:8px; 
  }
  &-circle {
    min-width:2.5em;
    max-width:2.5em;
    height:2.45em;
    line-height:2.4em;
    overflow:hidden;
    padding:0;
    border-radius:50%;
    white-space: nowrap;
  }
  &-ghost {
    background-color:transparent;
     &:hover:not(:disabled), &:active:not(:disabled) {
       color:#FFF;
     }
     @each $color, $hex in $colors {
      &.press-#{$color} {
        color:$hex;
        border:2px solid $hex;
        &:hover:not(:disabled) {
          background-color:rgba($hex,.4);
        }
        &:active:not(:disabled) {
          background-color:rgba($hex,.8);
        }
        &:disabled {
          background:transparent;
        }
      }
    }
  }
}